body {
  font-family: Lora;
  text-align: right;
}

.row {
  background-color: #323232;
}

#headerLeft{
    color: white;
}

#headerLeft h5 {
  color: #ffc981;
}

#headerMid{
  color: #ffc981;

}

#headerRight {
  color: white;
}
